<button id="dropdownRadioButton"
        data-dropdown-toggle="dropdownDefaultRadio"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        type="button">

  <span>Choose scheduler</span>


</button>

<!-- Dropdown menu -->
<div id="dropdownDefaultRadio"
     class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
  <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioButton">
    <li *ngFor="let scheduler of schedulersHeaders$ | async, let i">
      <div class="flex items-center">
        <input id="default-radio-1"  [attr.checked]="(getActiveScheduler() | async)?.name === scheduler.name ? 'checked' : ''" type="radio" value=""
               name="default-radio"
               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        <label for="default-radio-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
               (change)="setScheduler(scheduler)">{{ scheduler.name }}</label>
      </div>
    </li>
  </ul>
</div>
